.list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.state {
  height: 500px;
  display: flex;
  align-items: center;
  font-size: 3rem;
}
